.max-100 {
  max-width: 100px;
}
.max-150 {
  max-width: 150px;
}
.max-200 {
  max-width: 200px;
}
.max-250 {
  max-width: 250px;
}
.max-300 {
  max-width: 300px;
}
.w-5p {
  width: 5%;
}
.w-10p {
  width: 10%;
}
.w-15p {
  width: 15%;
}
.w-20p {
  width: 20%;
}
.w-25p {
  width: 25%;
}
.w-30p {
  width: 30%;
}
.w-35p {
  width: 35%;
}
.w-40p {
  width: 40%;
}
.btn-xs {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}